<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- 下面的编号设置了更新后会及时生效  -->
    <add key="code0" value="600660"/>
    <add key="code1" value="002775"/>
    <add key="code2" value="000001"/>
    <add key="code3" value="600362"/>
    <add key="code4" value="600233"/>
    <add key="code5" value="600547"/>
    <!-- 自动查询 会按照您最近一次查询代码每间隔一段时间自动查询一次 -->
    <add key="current" value="600362"/>
    <!-- 自动更新时间间隔 每六十秒更新一次 -->
    <add key="timeInterval" value="60"/>


    <!--下面的设置都需要重新启动应用才会有效果 -->
    <add key="code6" value="关闭快捷键"/>
    <add key="position_x" value="300"/>
    <add key="position_y" value="300"/>
    <add key="opacity" value="30"/>
  </appSettings>
</configuration>
