<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="code0" value="600362"/> 
    <add key="code1" value="600030"/>
    <add key="code2" value="600362"/>
    <add key="code3" value="600362"/>
    <add key="code4" value="600362"/>
    <add key="code5" value="600362"/>
    <add key="code6" value="关闭快捷键"/>
    <add key="position_x" value="300"/>
    <add key="position_y" value="300"/>
    <add key="opacity" value="30"/>
  </appSettings>
</configuration>
